<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MES Products Rate Visualization</title>
</head> 
<body>
    <div class="container">
        <h1>Welcome to MES Products Rate Visualization</h1>
        <p>This is a fake/hardcode product rates.</p>
        <canvas id="myChart" width="900" height="500"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>

